body {margin: 0; padding: 0 1em; background: #001018}
#outer {margin: 5px auto 0 auto; min-width: 700px; max-width: 1000px; position: relative}
#header {position: relative; height: 100px}
#search {position: absolute; top: 10px; right: 0; background: #f8f8f8; padding: 0.25ex 1ex; border-radius: 1ex; border: 0.5ex solid #D3DEE6}
#search input[type="search"] {width: 300px}
#logo {width: 275px}
#nav {position: absolute; bottom: -4px; right: 0; width: 392px; height: 42px; padding: 2px 4px 6px 4px; -webkit-border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; font-family: Times;}
#nav div {height: 23px; padding: 0 0.5em; overflow: visible}
#nav b {color: #303030; font-weight: normal; font-size: 1.1em; display: inline-block; width: 100px;}
#copyright {text-align: center; margin: 1em 5em; padding: 0.4em; background: #001826; color: #c8c8c8; border: 0.5ex solid #001F33; font-size: 90%}
#copyright a {color: white; text-decoration: none}
#copyright a:hover {color: #E6AB2E}
#copyright a:hover, #nav a:hover {text-decoration: underline}
#copyright .small {color: #909090}

#content, #nav {border-color: #D3DEE6; border-width: 4px; border-style: solid; background: white}
#nav {border-bottom: none}
#nav a {color: #0061A6; padding: 0 0.3em; text-decoration: none;}
#nav a:hover {color: #0090D9}

#content {padding: 0.5em 0.5em 2em 0.5em}
#content h1:first-child {margin: 0 0 0.2em 0}
h1 + h2, h1 + h3, h2+h3, h1 + p, h2 + p, h3 + p {margin-top: 0}
#content a:link, #content a:visited {color: #002699}
#content a:hover, #content a:active {color: #0044FF}

.small {font-size: 0.85em}
img {border: none}
a img {display: block}
a img + br {display: none}
table {margin-top: 5px}
.t1 {background-color: #FAFAFA; border: 1px solid #AAAAAA}
.t1 .t1 {background-color: #F0F0F0}
th {color: white; background-color: #2C5B8E}
td {padding: 0 2px}
.subheader {background-color: #E0E0E0; font-weight: bold}
.padcell td {padding: 0 0.5em; text-align: justify}
.padcell tr+tr td {padding-top: 0.5em}

h1,h2,h3 {margin-bottom: 0.2em}
h1 {font-size: 1.75em}
h2 {font-size: 1.30em}
h3 {font-size: 1.10em}
p {margin: 0.5em 0}
dl {margin: 0em 1em}
dt {font-weight: bold}
dd {margin-left: 2em; text-align: justify}

p.arearule {font-size: 0.95em; padding: 0.3em; width: 450px; background-color: #FAFAFA; border: 1px solid #444}
/*
     FILE ARCHIVED ON 02:10:28 Oct 08, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:11:03 Jan 08, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.567
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.009
  esindex: 0.011
  cdx.remote: 24.138
  LoadShardBlock: 135.469 (3)
  PetaboxLoader3.datanode: 160.96 (5)
  PetaboxLoader3.resolve: 132.027 (3)
  load_resource: 179.215 (2)
*/